body {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: right;
  position: relative;
  background-color: var(--collection-1-static-white);
  margin-left: auto;
  margin-right: auto;
}

.home {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: right;
  position: relative;
  background-color: var(--collection-1-static-white);
  margin-left: auto;
  margin-right: auto;
}

.home .header {
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--collection-1-static-white);
  gap: var(--collection-1-space-0);
}

.home .container-header {
  display: flex;
  max-width: 1440px;
  align-items: center;
  justify-content: center;
  gap: var(--collection-1-space-12);
  padding: var(--collection-1-space-12) var(--space-space-0)
    var(--collection-1-space-12) var(--space-space-0);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--collection-1-static-white);
}

.home .logo {
  display: inline-flex;
  align-items: center;
  gap: var(--collection-1-space-8);
  padding: var(--collection-1-space-8) var(--collection-1-space-20)
    var(--collection-1-space-8) var(--collection-1-space-20);
  position: relative;
  flex: 0 0 auto;
  border-radius: 12px;
}

.home .snowflake {
  position: relative;
  width: 24px;
  height: 24px;
}

.home .items-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  gap: var(--collection-1-space-0);
}

.home .items {
  display: inline-flex;
  align-items: center;
  gap: var(--collection-1-space-8);
  position: relative;
  flex: 0 0 auto;
}

.home .item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--collection-1-space-12) var(--collection-1-space-20)
    var(--collection-1-space-12) var(--collection-1-space-20);
  position: relative;
  flex: 0 0 auto;
  border-radius: 12px;
  gap: var(--collection-1-space-0);
  color: var(--collection-1-dark);
  position: relative;
  width: fit-content;
  font-family: var(--action-small-font-family);
  font-weight: var(--action-small-font-weight);
  font-size: var(--action-small-font-size);
  letter-spacing: var(--action-small-letter-spacing);
  line-height: var(--action-small-line-height);
  font-style: var(--action-small-font-style);
}

.home .hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 1440px;
  height: 524px;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  background-image: url("./img/home/bg-ball.png"), url("./img/home/bg-snow.png");
  background-position: center, center;
  background-size: cover, cover;
  background-color: #ff4646;
  gap: var(--collection-1-space-0);
  margin: 0 auto;
  padding: var(--collection-1-space-60) var(--collection-1-space-0);
}

.home .container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 426px;
  height: 404px;
  gap: var(--collection-1-space-12);
  position: relative;
}

.home .header-1 {
  font-family: var(--header-1-font-family);
  font-weight: var(--header-1-font-weight);
  color: var(--collection-1-static-white);
  font-size: var(--header-1-font-size);
  letter-spacing: var(--header-1-letter-spacing);
  line-height: var(--header-1-line-height);
  font-style: var(--header-1-font-style);
  text-align: center;
}

.caption {
  font-family: var(--caption-font-family);
  font-weight: var(--caption-font-weight);
  color: var(--collection-1-static-white);
  font-size: var(--caption-font-size);
  text-align: center;
  letter-spacing: var(--caption-letter-spacing);
  line-height: var(--caption-line-height);
  font-style: var(--caption-font-style);
}

.button {
  width: 236px;
  height: 56px;
  padding: var(--collection-1-space-20) var(--collection-1-space-32);
  background: var(--collection-1-dark);
  border: none;
  border-radius: 20px;
  color: var(--collection-1-static-white);
  font-size: var(--action-small-font-size);
  font-family: var(--action-small-font-family);
  font-weight: var(--action-small-font-weight);
  line-height: var(--action-small-line-height);
  letter-spacing: var(--action-small-letter-spacing);
  font-style: var(--action-small-font-style);
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: var(--collection-1-static-white);
  color: var(--collection-1-dark);
}

.home .about-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--collection-1-space-60) var(--collection-1-space-8)
      var(--collection-1-space-60) var(--collection-1-space-8);
  position: relative;
  background-image: url(./img/about-section.svg);
  background-size: cover;
  background-position: 50% 50%;
  gap: var(--collection-1-space-0);
  background-color: var(--collection-1-primary);
}

.home .container-about {
  display: flex;
  max-width: 1276px;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  gap: var(--collection-1-space-0);
}

.home .container-about-wrapper {
  padding: var(--collection-1-space-0) var(--collection-1-space-60)
      var(--collection-1-space-0) var(--collection-1-space-60);
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  gap: var(--collection-1-space-0);
}

.home .container-about-text {
  max-width: 426px;
  gap: var(--collection-1-space-20);
  padding: var(--collection-1-space-60) var(--collection-1-space-0)
      var(--collection-1-space-60) var(--collection-1-space-0);
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
}

.home .caption {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--caption-font-family);
  font-weight: var(--caption-font-weight);
  color: var(--collection-1-primary);
  font-size: var(--caption-font-size);
  letter-spacing: var(--caption-letter-spacing);
  line-height: var(--caption-line-height);
  font-style: var(--caption-font-style);
}

.home .header-2 {
  position: relative;
  align-self: stretch;
  font-family: var(--header-2-font-family);
  font-weight: var(--header-2-font-weight);
  color: var(--collection-1-dark);
  font-size: var(--header-2-font-size);
  letter-spacing: var(--header-2-letter-spacing);
  line-height: var(--header-2-line-height);
  font-style: var(--header-2-font-style);
}

.home .paragraph {
  position: relative;
  align-self: stretch;
  font-family: var(--paragraph-font-family);
  font-weight: var(--paragraph-font-weight);
  color: var(--collection-1-dark);
  font-size: var(--paragraph-font-size);
  letter-spacing: var(--paragraph-letter-spacing);
  line-height: var(--paragraph-line-height);
  font-style: var(--paragraph-font-style);
}

.home .container-santa {
  display: flex;
  flex-direction: column;
  height: 528px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 20px;
  overflow: hidden;
  gap: var(--space-space-0-duplicate);
}

.home .santa {
  position: relative;
  width: 638px;
  height: 528px;
  object-fit: cover;
}

.home .slider-section{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 488px;
  /* padding: var(--collection-1-space-60) var(--collection-1-space-0); */
  position: relative;
  background-image: url(./img/home/bg-snow.png);
  background-size: cover;
  background-position: 50% 50%;
  gap: var(--collection-1-space-0);
  background-color: var(--collection-1-primary);
}

.home .container-slider{
  height: 368px;
  width: 1276px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.home .container-slider-text{
  display: flex;
}

.home .row{
  display: flex;
}

.home .slider{
  display: flex;
}

.home .slider-text {
  font-family: var(--slider-font-family);
  font-weight: var(--slide-font-weight);
  color: var(--collection-1-static-white);
  font-size: var(--slider-font-size);
  letter-spacing: var(--slider-letter-spacing);
  line-height: var(--slider-line-height);
  font-style: var(--slider-font-style);
  text-align: center;
}

.home .img-wrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  gap: var(--collection-1-space-0);
}

.home .img {
  position: relative;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.home .header-3 {
  position: relative;
  align-self: stretch;
  font-family: var(--header-2-font-family);
  font-weight: var(--header-2-font-weight);
  color: var(--collection-1-static-white);
  font-size: var(--header-2-font-size);
  letter-spacing: var(--header-2-letter-spacing);
  line-height: var(--header-2-line-height);
  font-style: var(--header-2-font-style);
  text-align: center;
}

.home .arrow {
  position: relative;
  align-self: stretch;
  width: 56px;
  height: 56px;
  flex: 0 0 auto;
}

.home .best-gifts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: var(--collection-1-space-60) var(--collection-1-space-0); */
  position: relative;
  align-self: stretch;
  width: 1440px;
  height: 554px;
  flex: 0 0 auto;
  background-image: url(./img/best-gifts-section.svg);
  background-size: cover;
  background-position: 50% 50%;
  gap: var(--collection-1-space-0);
  background-color: var(--collection-1-primary);
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--collection-1-space-12);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.card {
  width: 310px;
  height: 342px;
  background-color: var(--collection-1-content-background);
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.home .image {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
}

.card-content {
  padding: var(--collection-1-space-20) var(--collection-1-space-20);
  gap: 8px;
  text-align: left;
  border-radius: 20px;
  height: 112px;
  background-color: var(--collection-1-static-white);
}

.home .header-4 {
  align-self: stretch;
  color: var(--collection-1-dark);
  font-size: var(--header-3-font-size);
  letter-spacing: var(--header-3-letter-spacing);
  line-height: var(--header-3-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
  position: relative;
  font-family: var(--header-3-font-family);
  font-weight: var(--header-3-font-weight);
  font-style: var(--header-3-font-style);
}

.home .header-5 {
  width: fit-content;
  margin-top: -1px;
  color: var(--collection-1-tag-pink);
  white-space: nowrap;
  position: relative;
  font-family: var(--header-4-font-family);
  font-weight: var(--header-4-font-weight);
  font-size: var(--header-4-font-size);
  letter-spacing: var(--header-4-letter-spacing);
  line-height: var(--header-4-line-height);
  font-style: var(--header-4-font-style);
}

/* .card-label {
  font-family: var—(header-4-font-family);
  font-weight: var—(--header-4-font-weight);
  font-size: var—(--header-4-font-size);
  letter-spacing: var—(--header-4-letter-spacing);
  line-height: var—(--header-4-line-height);
  font-style: var—(--header-4-font-style);
  color: var(--collection-1-tag-purple);
}

.card-title {
  font-family: var—(header-3-font-family);
  font-weight: var—(--header-3-font-weight);
  font-size: var—(--header-3-font-size);
  letter-spacing: var—(--header-3-letter-spacing);
  line-height: var—(--header-3-line-height);
  font-style: var—(--header-3-font-style);
  color: var(--collection-1-dark);
} */



/* 
.home .header-4 {
  width: fit-content;
  margin-top: -1px;
  color: var(--collection-1-tag-purple);
  font-size: var(--header-4-font-size);
  letter-spacing: var(--header-4-letter-spacing);
  line-height: var(--header-4-line-height);
  white-space: nowrap;
  position: relative;
  font-family: var(--header-4-font-family);
  font-weight: var(--header-4-font-weight);
  font-style: var(--header-4-font-style);
}


.home .header-6 {
  width: fit-content;
  margin-top: -1px;
  color: var(--collection-1-tag-green);
  white-space: nowrap;
  position: relative;
  font-family: var(--header-4-font-family);
  font-weight: var(--header-4-font-weight);
  font-size: var(--header-4-font-size);
  letter-spacing: var(--header-4-letter-spacing);
  line-height: var(--header-4-line-height);
  font-style: var(--header-4-font-style);
}

.home .card-2 {
  display: inline-flex;
  flex-direction: column;
  height: 342px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--collection-1-content-background);
  border-radius: 20px;
  gap: var(--collection-1-space-0);
} */

.home .CTA-sectoin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 1440px;
  height: 668px;
  flex: 0 0 auto;
  border-radius: 0px 0px 20px 20px;
  background-image: url(./img/home/bg-forest.png);
  background-size: cover;
  background-position: 50% 50%;
  gap: var(--collection-1-space-0);
  background-color: var(--collection-1-primary);
}

.home .container-CTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1276px;
  align-items: center;
  padding: var(--collection-1-space-60) var(--collection-1-space-0);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 20px;
  gap: var(--collection-1-space-0);
}

.home .container-CTA-text {
  display: flex;
  flex-direction: column;
  max-width: 426px;
  align-items: center;
  justify-content: center;
  gap: var(--collection-1-space-20);
  padding: var(--collection-1-space-60) var(--collection-1-space-0)
    var(--collection-1-space-60) var(--collection-1-space-0);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .container-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--collection-1-space-8);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .timer {
  display: inline-flex;
  align-items: center;
  padding: var(--collection-1-space-8) var(--collection-1-space-12)
    var(--collection-1-space-12) var(--collection-1-space-12);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--collection-1-static-white-40);
  border-radius: 20px;
  gap: var(--collection-1-space-0);
}

.home .container-value {
  display: flex;
  flex-direction: column;
  width: 80px;
  align-items: center;
  position: relative;
  gap: var(--collection-1-space-0);
}

.home .header-6 {
  margin-top: -1px;
  color: var(--collection-1-static-white);
  text-align: center;
  position: relative;
  align-self: stretch;
  font-family: var(--header-2-font-family);
  font-weight: var(--header-2-font-weight);
  font-size: var(--header-2-font-size);
  letter-spacing: var(--header-2-letter-spacing);
  line-height: var(--header-2-line-height);
  font-style: var(--header-2-font-style);
}

.home .header-7 {
  align-self: stretch;
  color: var(--collection-1-static-white);
  text-align: center;
  position: relative;
  font-family: var(--header-4-font-family);
  font-weight: var(--header-4-font-weight);
  font-size: var(--header-4-font-size);
  letter-spacing: var(--header-4-letter-spacing);
  line-height: var(--header-4-line-height);
  font-style: var(--header-4-font-style);
}

.home .separator {
  position: relative;
  width: 1px;
  height: 20px;
  object-fit: cover;
}

.home .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--collection-1-space-60) var(--collection-1-space-8)
    var(--collection-1-space-60) var(--collection-1-space-8);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--collection-1-static-white);
  gap: var(--collection-1-space-0);
}

.home .container-footer {
  display: flex;
  flex-direction: column;
  max-width: 1276px;
  align-items: center;
  gap: var(--collection-1-space-60);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .container-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--collection-1-space-12);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 60px;
}

.home .card-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--collection-1-space-12);
  padding: var(--collection-1-space-20);
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--collection-1-content-background);
  border-radius: 20px;
}

.home .img-2 {
  position: relative;
  width: 80px;
  height: 80px;
}

.home .action-large {
  align-self: stretch;
  font-size: var(--action-large-font-size);
  text-align: center;
  letter-spacing: var(--action-large-letter-spacing);
  line-height: var(--action-large-line-height);
  position: relative;
  font-family: var(--action-large-font-family);
  font-weight: var(--action-large-font-weight);
  color: var(--collection-1-dark);
  font-style: var(--action-large-font-style);
}

.home .header-8 {
  position: relative;
  align-self: stretch;
  font-family: var(--header-3-font-family);
  font-weight: var(--header-3-font-weight);
  color: var(--collection-1-dark);
  font-size: var(--header-3-font-size);
  text-align: center;
  letter-spacing: var(--header-3-letter-spacing);
  line-height: var(--header-3-line-height);
  font-style: var(--header-3-font-style);
}

.home .container-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--collection-1-space-12);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .socials {
  position: relative;
  flex: 0 0 auto;
  width: 196px;
  height: 40px;
}

.home .img-sicials {
  position: relative;
  width: 40px;
  height: 40px;
}

.home .paragraph-2 {
  position: relative;
  width: fit-content;
  font-family: var(--paragraph-font-family);
  font-weight: var(--paragraph-font-weight);
  color: var(--collection-1-dark);
  font-size: var(--paragraph-font-size);
  text-align: center;
  letter-spacing: var(--paragraph-letter-spacing);
  line-height: var(--paragraph-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-font-style);
}

.home .caption-2 {
  width: fit-content;
  color: var(--collection-1-dark);
  text-align: center;
  white-space: nowrap;
  position: relative;
  font-family: var(--caption-font-family);
  font-weight: var(--caption-font-weight);
  font-size: var(--caption-font-size);
  letter-spacing: var(--caption-letter-spacing);
  line-height: var(--caption-line-height);
  font-style: var(--caption-font-style);
}

:root {
  --header-1-font-family: "Montserrat", Helvetica;
  --header-1-font-weight: 600;
  --header-1-font-size: 32px;
  --header-1-letter-spacing: 18%;
  --header-1-line-height: 150%;
  --header-1-font-style: normal;
  --header-2-font-family: "Montserrat", Helvetica;
  --header-2-font-weight: 600;
  --header-2-font-size: 24px;
  --header-2-letter-spacing: 16%;
  --header-2-line-height: 152%;
  --header-2-font-style: normal;
  --header-3-font-family: "Montserrat", Helvetica;
  --header-3-font-weight: 600;
  --header-3-font-size: 16px;
  --header-3-letter-spacing: 8%;
  --header-3-line-height: 152%;
  --header-3-font-style: normal;
  --header-4-font-family: "Montserrat", Helvetica;
  --header-4-font-weight: 600;
  --header-4-font-size: 12px;
  --header-4-letter-spacing: 5%;
  --header-4-line-height: 130%;
  --header-4-font-style: normal;
  --paragraph-font-family: "Montserrat", Helvetica;
  --paragraph-font-weight: 400;
  --paragraph-font-size: 16px;
  --paragraph-letter-spacing: 0%;
  --paragraph-line-height: 148%;
  --paragraph-font-style: normal;
  --action-large-font-family: "Montserrat", Helvetica;
  --action-large-font-weight: 600;
  --action-large-font-size: 24px;
  --action-large-letter-spacing: 16%;
  --action-large-line-height: 152%;
  --action-large-font-style: normal;
  --action-small-font-family: "Montserrat", Helvetica;
  --action-small-font-weight: 600;
  --action-small-font-size: 12px;
  --action-small-letter-spacing: 5%;
  --action-small-line-height: 130%;
  --action-small-font-style: normal;
  --caption-font-family: "Allura", Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 24px;
  --caption-letter-spacing: 5%;
  --caption-line-height: 100%;
  --caption-font-style: normal;
  --slider-text-font-family: "Montserrat", Helvetica;
  --slider-text-font-weight: 600;
  --slider-text-font-size: 80px;
  --slider-text-letter-spacing: 0%;
  --slider-text-line-height: normal;
  --slider-text-font-style: normal;
  --collection-1-primary: rgba(255, 70, 70, 1);
  --collection-1-primary-10: rgba(255, 70, 70, 0.1);
  --collection-1-dark: rgba(24, 28, 41, 1);
  --collection-1-static-white: rgba(255, 255, 255, 1);
  --collection-1-static-white-40: rgba(255, 255, 255, 0.4);
  --collection-1-static-white-20: rgba(255, 255, 255, 0.2);
  --collection-1-content-background: rgba(236, 243, 248, 1);
  --collection-1-tag-purple: rgba(67, 97, 255, 1);
  --collection-1-tag-pink: rgba(255, 67, 247, 1);
  --collection-1-tag-green: rgba(6, 164, 79, 1);
  --collection-1-overlay: rgba(24, 28, 41, 0.8);
  --collection-1-space-0: 0px;
  --collection-1-space-8: 8px;
  --collection-1-space-12: 12px;
  --collection-1-space-20: 20px;
  --collection-1-space-32: 32px;
  --collection-1-space-60: 60px;
  --space-space-0-duplicate: 0px;
}
